<!doctype html>
<html>
<head>
    <title>EveryMood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-02.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
</head>
<body>
<section class="contain">
<section class="everyWelcome">
    <h1>Hello, I'm <span class="headerColor">EveryMood.</span></h1>
    <p>Here are a few quick tips for chatting:</p>
    <div class="inner">
									<ul class="grid-icons three connected">
										<li>I prefer short prompts, please!</li>
										<li>As much as I'd love to chat about <strong>anything</strong>, let's keep it in the realm of me helping you.</li>
										<li>Ask me for advice on topics such as self-care, depression, anxiety, etc.</li>
									</ul>
                                </div>
                                <a href="/chat-history">View Chat History</a>
    <p class="disclaimer">THIS WEBSITE IS NOT INTENDED FOR THE PURPOSE OF PROVIDING MEDICAL ADVICE
All information, content, and material of this website is for informational purposes only and are not intended to serve as a substitute for the consultation, diagnosis, and/or medical treatment of a qualified physician or healthcare provider.

MEDICAL EMERGENCY
If you have a medical emergency, call your doctor or 911 immediately.</p>
</section>
    <section class="checkFloat">
        <main id="chatWindow">
            <section class="history" id="history">
            </section>
            <section class="new-message" id="new-message">
                <textarea id="txt-new-message" placeholder="Type message..."></textarea>
                <button id="messageButton">Send</button>
            </section>
        </main>
    </section>
</section>

<script src="main.js"></script>

</body>
</html>

