<!doctype html>
<html>
<head>
    <title>EveryMood</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Suranna&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

        <a href="/login" >Login</a>
        <a href="/signup">Signup</a>

    <div class="jumbotron text-center">
        <h1 class="big">EveryMood</h1>
        <p>Your personal emotional health helper.</p>
        <p>Everymood is a chat-service that will guide you through the ups and downs
            of life.
        </p>

    </div>

   
    <h2>Here's to a happier you.</h2>

    <h3>User Testimonials:</h3>

    <section class= "reviews">
        <div class ="stories">
            <img src="img/img01.png" alt="">
            <p>I am a therapist and I have recommended
            EveryMood to my clients as a supplementary "therapist". I find it as effective
            as journaling to help build self-awareness.<span>-Jenna D.</span>
            </p>
        </div>
        <div class="stories">
            <img src="img/img02.png" alt="">
            <p>EveryMood has been an important part in my healing journey
            after dealing with a traumatic event. I will be using every mood to help navigate expected difficulties
            that will arise in my life such as stress, grief, and relationship troubles.<span>-Alex M.</span>
            </p>
        </div>
        <div class="stories">
            <img src="img/img03.png" alt="">
            <p>I started to use EveryMood
            during a very difficult time in life and it helped me a ton. I wouldn't
            have been able to get through my situation as quickly without this app's guidance.<span>-Nori J.</span>
         </p>
        </div>
    </section>

</div>
</body>
</html>
