<!doctype html>
<html>
<head>
    <title>EveryMood</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="login">
  <div class="banner"></div>
  <div class="form">
    <div class="wrapper">
      <div class="row">
      <form action="/login" method="post">
        <div class="label">Email</div>
        <input type="text" name="email">
      </div>
      <div class="row">
        <div class="label">Password</div>
        <input type="password" name="password">
      </div>
      <div class="row">
        <button type="submit">Login</button>
      </div>  
      </form>
    </div>
    <div class="signup">
      Need an account? <a class="try" href="/signup">Signup</a>
        Or go <a class="try" href="/">home</a>.
    </div>    
  </div>
</div>


</body>
</html>

