/* Some of this CSS code is from another website for styling chat purposes*/


* {
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html,body {
    height:100%;
}

body {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    min-height:650px;
    background-image:url("/img/new02.jpg");
    background-size: 100%;

}

.everyWelcome {
    width: 45%;
    float: right;
    margin-top: 32px;
}

.checkFloat {
    float: left;
    width: 54%;
}

a {
 margin-left: 69%;
 margin-bottom: 23px;
 padding-top: 2px;
 padding-left: 5px;
}

h1 {
    font-size: 6rem;
    letter-spacing: -0.04rem;
    margin-right: 65px;
    text-align: right;
    margin-bottom: 27px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: floralwhite;
    text-shadow: 4px 3px 0 #7A7A7A, 2px 1px 0px rgba(53,77,81,0.25);
}

.headerColor {
    color: peachpuff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

p {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.1em;
    color: peachpuff;
    letter-spacing: -0.04rem;
    padding-top: 48px;
    border-top: 3px solid grey;
    border-radius: 2px;
    font-size: 2rem;
    margin-right: 65px;
    width: 90%;
    margin-left: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0 10px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.96);
    border-bottom: 1px solid #00aabb;
    margin:0;
    color: #007d88;
    font-weight: bold;
}
main {
    height: 685px;
    width: 89%;
    background-color: #fff;
    align-self: center;
    display:flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


main .history {
    flex-grow: 1;
    padding: 26px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

main .new-message {
    display: flex;
    flex-direction: row;
    margin:10px 10px 0 10px;
    padding: 10px;
    position: relative;
    border-radius: 20px; 
    height:58px;
    box-sizing: border-box;
    border:3px solid #ccc;
    background: #fff; 
}

#txt-new-message {
    flex: 1;
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    font-size: 15px;
    margin: 0;
    border-right: 1px solid #ccc;
    color: #444;
    overflow: hidden
}

main .new-message button {
    color: #4A90E2;
    border: none;
   /* background: #c29d5f;*/
    background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 5px;
    outline: none!important;
    cursor:pointer;
    align-self: center;
    font-size: 1rem;
}

main .history .from-watson, main .history .from-user {
    padding:10px;
    margin:10px 0;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
   -webkit-transition: all 0.25s ease-in-out;
   -moz-transition: all 0.25s ease-in-out;
   -ms-transition: all 0.25s ease-in-out;
   -o-transition: all 0.25s ease-in-out;
   transition: all 0.25s ease-in-out;
}

main .history .from-watson {
    position: relative; 
    background-color: rgb(175, 116, 120);
    border-radius: .4em;
    align-self: flex-start;
    color:white;
}
main .history .from-watson:after { 
    content: ''; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    width: 0; 
    height: 0; 
    border: 10px solid transparent; 
    border-right-color: lavendar; 
    border-left: 0; 
    border-bottom: 0; 
    margin-top: -5px; 
    margin-left: -10px; 
}

main .history .from-user {
    position: relative; 
    background-color: rgb(124, 119, 201); 
    border-radius: .4em;
    align-self: flex-end;
}
main .history .from-user:after { 
    content: ''; 
    position: absolute; 
    right: 0; 
    top: 50%; 
    width: 0; 
    height: 0; 
    border: 10px solid transparent; 
    border-left-color: #dedede; 
    border-right: 0; 
    border-bottom: 0; 
    margin-top: -5px; 
    margin-right: -10px;
}

.disclaimer {
    color: white;
    text-decoration: none;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 0;
    margin-left: 71%;
}

ul {
    width: 70%;
    margin-left: 20%;
}

ul li {
    text-align: left;
    list-style: none;
    font-family: 'Raleway', sans-serif;
}
